{#include partial/base}
{#let closed=cdi:timeline.isClosed(user:extension)}
    <h1>All talks</h1>

    {#let talksResponse=cdi:talksService.byEmail(user:email)}

    {#if talksResponse.sessions.isEmpty}
        <p>Found no talks</p>
    {#else}
        {#if !closed}
        <ul class="details">
            <li><a href="/talk/new">New proposal</a></li>
        </ul>
        {/if}

        {#for conference in conference:all.reversed}
            {#let talks=talksResponse.sessionsFor(conference)}
            {#if !talks.isEmpty}
                <h2>{conference.name}</h2>

                {#for session in talks}
                    {#let tags=session:tags(session)}
                        <div class="session-item{#if tags.contains("rejected") || tags.contains("trukket") || tags.contains("withdrawn")} out{/if}">
                            <a href="/talk/{session.sessionId}">{session.data["title"]}</a>

                            <ul>
                                <li>{Kind:of(session.data).name}</li>
                                <li>{Language:of(session.data).name}</li>
                                {#if tags.contains("rejected")}
                                <li>Rejected</li>
                                {#else if tags.contains("trukket") || tags.contains("withdrawn")}
                                <li>Withdrawn</li>
                                {#else if tags.contains("accepted") && tags.contains("confirmed")}
                                <li>Confirmed</li>
                                {#else if tags.contains("accepted")}
                                <li>Accepted</li>
                                <li><a href="https://cakeredux.javazone.no/confirm.html?id={session.sessionId}">Confirm</a></li>
                                {/if}
                            </ul>
                        </div>
                    {/let}
                {/for}
            {/if}
        {/for}

    {/if}

{/include}
