{#include partial/centered}
    <div class="front">
        <header>
            <h1>{conference:current.name}</h1>
            <span class="subtitle">Speaker Submission</span>
        </header>

        {#fragment form}
        <form action="/login" method="post" hx-post="/login" hx-swap="outerHTML">
            <div class="field">
                <input name="email" type="email" required="required" value="{form.email}" placeholder="Your email"/>
            </div>
            <button type="submit">Log in</button>
        </form>
        {/fragment}

        {#fragment sent rendered=false}
        <p class="sent">We have sent an email with a link for login.<br/>Please check your inbox.</p>
        {/fragment}
    </div>
{/include}